.row{
    padding: 15px;
}
div{ 
    background-color: black;
    text-align: center;
}
p,h1{
    color: rgb(221, 236, 13);
}
/*Estilo foto de perfil*/
@media(min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 1%;
        top: 500px;
    }
}
@media(max-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 35%;
        top: 530px;
    }
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}
